# 构建产物
build/
*.icns
MinesweeperBinary

# macOS
.DS_Store
*.swp
*~
.codemaker/

# Xcode user data
*.xcuserstate
xcuserdata/

# Xcode project
*.xcodeproj/

# Xcode resources
*.xcassets/
*.entitlements
